# 2024-07-21 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/etc/config.php
/dev
/update/
/vendor/aws/aws-crt-php
/vendor/magento/framework/Test
# 2024-07-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "How to fix the «Invalid template file» / «require_js.phtml» failure for Magento ≥ 2.4.5 in Windows?"
# https://mage2.pro/t/6339
# 2) "Adapt the website to Windows": https://github.com/justuno-com/test-2.4.7-p1/issues/1
!/vendor/magento/framework/View/Element/Template/File/Validator.php
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
# 2023-07-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# Today I noticed that `git add . && git commit -a -m refactoring && git push`
# started to commit subfolders which are git repositories (for an unknown reason).
/_my
/vendor/justuno
/vendor/justuno.com